<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div style="width: 50%; margin: auto" id="main-container"></div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      fetch("http://127.0.0.1:5000/data")
        .then((res) => {
          return res.json();
        })
        .then((data) => {
          if (data) {
            console.log(data);
            for (let i = 0; i < data.length; i++) {
              const create = document.createElement("canvas");
              create.id = "myChart" + i;
              document.getElementById("main-container").appendChild(create);
              const ctx = document.getElementById("myChart" + i);
              const num = data[i];
              new Chart(ctx, {
                type: "bar",
                data: {
                  labels: [
                    "Bisexual men",
                    "Bisexual women",
                    "Gay men",
                    "Lesbian women",
                    "Transgender",
                  ],
                  datasets: [
                    {
                      label: num["CountryID"],
                      data: [
                        num["Bisexual men"],
                        num["Bisexual women"],
                        num["Gay men"],
                        num["Lesbian women"],
                        num["Transgender"],
                      ],
                      borderWidth: 5,
                    },
                  ],
                },
                options: {
                  scales: {
                    y: {
                      beginAtZero: true,
                    },
                  },
                },
              });
            }
          }
        });
    </script>
  </body>
</html>